* {
  font-family: Lato, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background: MediumSeaGreen; /* browsers without gradient support */
  background: -o-linear-gradient(MediumAquaMarine, MediumSeaGreen); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(MediumAquaMarine, MediumSeaGreen); /* Firefox 3.6 - 15.0 */
  background: -webkit-linear-gradient(MediumAquaMarine, MediumSeaGreen); /* Chrome 10.0 - 25.x, Safari 5.1 - 6.0 */
  background: linear-gradient(MediumAquaMarine, MediumSeaGreen); /* Chrome 26.0+, Firefox 16.0+, Safari 6.1+, Opera 12.1+, Edge 10.0+ */
  background-attachment: fixed;
}

h1 {
  font-family: "Exo 2", sans-serif;
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  margin-left: 20px;
}

.container {
  background-color: White;
  width: 60%;
  min-height: 200px;
  border-radius: 50px;
  padding: 5px;
  margin: 10px auto;
}

.center {
  text-align: center;
}

.ivInput {
  display: block;
  margin: 0px auto 10px auto;
}

#footer {
  font-size: 75%;
  margin-bottom: 7.5px;
}

#output {
  margin-bottom: 20px;
}
