body {
  background-color: MediumSeaGreen;
}

h2 {
  font-family: "Exo 2", sans-serif;
}

p {
  font-family: Lato, sans-serif;
}

.container {
  background-color: White;
  width: 900px;
  height: 2500px;
  border-radius: 50px;
  margin: auto;
}

.center {
  text-align: center;
}
