body {
  background-color: MediumSeaGreen;
}

.container {
  background-color: White;
  width: 900px;
  height: 10000px;
  border-radius: 15px 50px;
  margin: auto;
}

.center {
  text-align: center;
}
